@import 'config/variables';
@import 'base/base';
@import 'theme/theme';
@import 'layout/layout';
@import 'components/header';
@import 'components/home';
@import 'components/button';
@import 'components/popular';
@import 'components/choose';
@import 'components/features';
@import 'components/products';
@import 'components/join';
@import 'components/footer';
@import 'components/scroll';
@import 'components/breakpoints';

.choose__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#matrix {
  display: flex;
  align-items: center;
  border: 2px dotted rgb(0, 0, 210);
}